*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
}

p {
  width: clamp(45ch, 50%, 75ch);
}
